---
import Linktree from '../components/linktree/Linktree.svelte'


---
<!DOCTYPE html>
<html lang="en">
	<head>
		

	</head>
	<body class="bg-[url('cloud-bg.jpg')]">
		<Linktree/>
		
	</body>
</html>
<style>
	body {
		background-size: 1920px 1080px;
	}
</style>
